.zoom {
    display: block;
    position: absolute;
    max-width: 800px;
    overflow: hidden;

    .my-btn {
        background-color: rgb(101 144 159);
        padding: 4px;
        border-radius: 4px;
        width: 66px;
    }

    .my-icon {
        color: rgb(41 27 27);
        font-size: 18px;
        align-items: center;
        display: inline-flex;
        cursor: grab;
        padding: 4px;
        margin-right: 10px;
    }

    .my-icon:hover {
        color: red;
    }

    .my-show {
        cursor: pointer;
        font-size: 18px;
        padding: 4px;
    }

    .my-show:hover {
        color: rgb(9, 121, 234);
    }

    .handle {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &>div {
            display: flex;

        }

        &>button {
            width: 50px;
        }

        .infos {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            background-color: rgba(176, 172, 167, 0.695);
            margin: 4px;
            min-width: 500px;
            max-height: 800px;
            overflow: auto;
            border: 4px solid grey;

            &>div {
                display: block;
            }

            .title {
                font-size: 16px;
                padding: 10px 0;
                font-weight: bold;
                cursor: pointer;
            }

            .zoom-list {
                background-color: rgba(210, 119, 8, 0.4);
                padding: 4px 4px;
                margin-bottom: 10px;
            }

            .zoom-local {
                background-color: rgba(162, 247, 219, 0.4);
                padding: 4px 4px;
                margin-bottom: 10px;
            }

            .zoom-session {
                background-color: rgba(22, 181, 5, 0.4);
                padding: 4px 4px;
                margin-bottom: 10px;
            }

            .zoom-cookie {
                background-color: rgba(85, 90, 238, 0.4);
                padding: 4px 4px;
            }
        }
    }




}